<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lzc.jiaowaimai"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".framework.ApplWork"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.lzc.jiaowaimai.activity.A_main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lzc.jiaowaimai.activity.C_WaiMai"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lzc.jiaowaimai.activity.D_DingDan"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lzc.jiaowaimai.activity.E_FaXian"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lzc.jiaowaimai.activity.F_XinXi"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lzc.jiaowaimai.activity.Ca_DisPlayPage"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lzc.jiaowaimai.activity.Fa_Login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lzc.jiaowaimai.activity.FAa_Register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lzc.jiaowaimai.activity.Fb_UserInfo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lzc.jiaowaimai.activity.FBa_Update_Info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lzc.jiaowaimai.activity.FBb_Update_Info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lzc.jiaowaimai.activity.FBc_Update_Info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lzc.jiaowaimai.activity.FBd_Update_Info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lzc.jiaowaimai.activity.G_Hongbao"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lzc.jiaowaimai.activity.H_Address"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lzc.jiaowaimai.activity.Ha_ListItem"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lzc.jiaowaimai.activity.I_Collect"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lzc.jiaowaimai.activity.J_FoodInfo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lzc.jiaowaimai.activity.K_JifenShop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lzc.jiaowaimai.activity.L_PingfenInfo"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>